#!/bin/bash

# Making sure networking is fully online or this will fail

sleep 2m

# Mirror all packets from one port to another (for suricata)

MONITOR_PORT={{ tap_interface_name }}
MIRROR_PORT={{ tap_destination_name }}

# Ingress
tc qdisc add dev $MONITOR_PORT ingress
tc filter add dev $MONITOR_PORT parent ffff: protocol all u32 match u8 0 0 action mirred egress mirror dev $MIRROR_PORT
# Egress
tc qdisc add dev $MONITOR_PORT handle 1: root prio
tc filter add dev $MONITOR_PORT parent 1: protocol all u32 match u8 0 0 action mirred egress mirror dev $MIRROR_PORT